.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__opened {
  visibility: visible;
}

.modal__content {
  display: flex;
  flex-direction: column;
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 16px;
  overflow: hidden;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal__close-icon {
  width: 16px;
  height: 16px;
  display: block;
}

.modal__title {
  margin: 0 0 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  gap: 8px;
}

.modal__input {
  display: block;
  width: 100%;
  border: none;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.modal__input:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.modal__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal__submit {
  margin-top: 32px;
  height: 36px;
  width: 124px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background 0.2s;
  display: inline-flex;
  align-items: center;
}

.modal__submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__submit:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.modal__link-button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  text-decoration: underline;
  margin-top: 32px;
  margin-left: 24px;
  transition: opacity 0.3s ease;
  height: 36px;
  display: inline-flex;
  align-items: center;
}

.modal__link-button:hover {
  opacity: 0.6;
}

.modal__link {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  text-decoration: underline;
  margin-top: 8px;
  transition: opacity 0.3s ease;
  align-self: flex-start;
}

.modal__link:hover {
  opacity: 0.6;
}
