.card {
  width: 283px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  padding: 2px 12px;
  gap: 8px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.card__image {
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0.3);

  cursor: pointer;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.card__like-button {
  width: 24px;
  height: 24px;
  background: url("../../images/like-icon.svg") no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button_active {
  background: url("../../images/like-icon-filled.svg") no-repeat center;
  background-size: contain;
}

.card__name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}
