.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__image-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__image {
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0.3);

  cursor: pointer;
}

.card__header {
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  gap: 8px;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  display: inline-flex;
  align-items: center;
  padding: 2px 12px;
  gap: 8px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
}

.card__like-button {
  width: 20px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 17.5L8.825 16.4525C3.9 12.0325 0.75 9.13583 0.75 5.58333C0.75 2.68666 3.0175 0.5 5.9375 0.5C7.5625 0.5 9.1175 1.20166 10 2.33333C10.8825 1.20166 12.4375 0.5 14.0625 0.5C16.9825 0.5 19.25 2.68666 19.25 5.58333C19.25 9.13583 16.1 12.0325 11.175 16.4525L10 17.5Z' fill='%23000' fill-opacity='0.3'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
  padding: 8px;
  transition: opacity 0.3s ease;
  background-color: transparent;
  flex-shrink: 0;
}

.card__like-button:hover {
  opacity: 0.6;
}

.card__like-button_active {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 17.5L8.825 16.4525C3.9 12.0325 0.75 9.13583 0.75 5.58333C0.75 2.68666 3.0175 0.5 5.9375 0.5C7.5625 0.5 9.1175 1.20166 10 2.33333C10.8825 1.20166 12.4375 0.5 14.0625 0.5C16.9825 0.5 19.25 2.68666 19.25 5.58333C19.25 9.13583 16.1 12.0325 11.175 16.4525L10 17.5Z' fill='%23FF0000'/%3E%3C/svg%3E");
}
