.page {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__content {
  width: 100%;
  box-sizing: border-box;
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
