.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__add-clothes-btn {
  margin: 0 20px 0 auto;
  background: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
}

.header__controls {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 20px;
}

.header__nav-link {
  color: black;
  text-decoration: none;
}

.header__auth-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__register-button,
.header__signin-button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: #000;
  transition: opacity 0.3s ease;
}

.header__register-button:hover,
.header__signin-button:hover {
  opacity: 0.6;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c4c4c4;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
